.btn1 {
    border-width: 0;
    border-radius: 20px;
    background-color: #FFE6CC;
    height: 50px;
    width: 160px;
    font-weight: bold;
}

.btn2 {
    border-width: 0;
    border-radius: 20px;
    background-color: #E8EAF2;
    height: 50px;
    width: 160px;
    font-weight: bold;
}